<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo correo</title>
  </head>
  <body>
    <img
      src="./imagenes/log.png"
      alt="PIG Gestión ganadera"
      width="150"
      height="150"
    />

    <p>
      Estas son las tareas a realizar el día de hoy:
    </p>

    <h3>Lista de tareas asignadas al trabajador </b>node_trabajador</p></h3>
    <p><b>Tarea de seguimiento:</b>node_tarea</p>
    <p><b>Estado actual:</b>node_estado</p>
    <p><b>Tipo notificación:</b>node_tipo</p>
    <p><b>Comentario:</b>node_comentario</p>
  </body>
</html>